rect.peaTrials {
  fill: #666;
}

.pea {
  stroke-width: 2;
}

.green.pea {
  stroke: #a9cf46;
}

.yellow.pea {
  stroke: #ffcc2a;
}

.green.present.pea {
  fill: #a9cf46;
}

.yellow.present.pea {
  fill: #ffcc2a;
}

.hopes.pea {
  fill: #666;
}
